
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index5</title>
</head>
<body>
    <div>

        @{
            int Id = Convert.ToInt32(ViewData.Eval("id"));
            string Name = ViewData.Eval("name").ToString();
            double Price = Convert.ToDouble(ViewData.Eval("price"));
        }
        <table border="1" align="center" width="15%">
            <caption>Product Details</caption>
            <tr>
                <td>Id</td>
                <td>@Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Name</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    @{
                        double? price = Price;
                        price = price + (price * 10 / 100);
                        <text>@price
                        </text>
                    }
                </td>
            </tr>

        </table>
    </div>
</body>
</html>
